<h1>Log In</h1>
<form action="/login" id="login-form" method="post">
    <label>Email:</label>
    <input type="email" name="email">
    <label>Password:</label>
    <input type="password" name="password">
    <br>
    <br>
    <section><button type="submit">Log In</button><br>
    <a href="signup">Sign Up</a></section>
</form>