<h1>Main page</h1>

<form action="/index" id="index" method="post">
    <label>Email:</label>
    <input type="email" name="email">
    <label>Password:</label>
    <input type="password" name="password">
    <br>
    <br>
    <button type="submit">Login</button>
</form>